ui/node_modules
venv
analyzer/src/if_db_increase.py
internal/.env.docker
internal/.env.local
.env
ui/.env
analyzer/__pycache__
analyzer/cmd/__pycache__
analyzer/src/__pycache__
analyzer/tests/__pycache__
.pytest_cache